@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-balthazar: 'Balthazar', serif;
  --font-montserrat: 'Montserrat', sans-serif;
  
  --color-chrysler-blue: #5603ad;
  --color-chrysler-blue-100: #110123;
  --color-chrysler-blue-200: #230146;
  --color-chrysler-blue-300: #340269;
  --color-chrysler-blue-400: #45028d;
  --color-chrysler-blue-500: #5603ad;
  --color-chrysler-blue-600: #7604f1;
  --color-chrysler-blue-700: #983bfc;
  --color-chrysler-blue-800: #bb7cfd;
  --color-chrysler-blue-900: #ddbefe;
  
  --color-amethyst: #8367c7;
  --color-amethyst-100: #18102c;
  --color-amethyst-200: #302058;
  --color-amethyst-300: #483184;
  --color-amethyst-400: #6041b0;
  --color-amethyst-500: #8367c7;
  --color-amethyst-600: #9b85d2;
  --color-amethyst-700: #b4a3dd;
  --color-amethyst-800: #cdc2e8;
  --color-amethyst-900: #e6e0f4;
  
  --color-celadon: #b3e9c7;
  --color-celadon-100: #134023;
  --color-celadon-200: #258047;
  --color-celadon-300: #38c06a;
  --color-celadon-400: #74d798;
  --color-celadon-500: #b3e9c7;
  --color-celadon-600: #c3eed3;
  --color-celadon-700: #d2f2de;
  --color-celadon-800: #e1f6e9;
  --color-celadon-900: #f0fbf4;
  
  --color-tea-green: #c2f8cb;
  --color-tea-green-100: #094f15;
  --color-tea-green-200: #139f2a;
  --color-tea-green-300: #25e545;
  --color-tea-green-400: #74ef89;
  --color-tea-green-500: #c2f8cb;
  --color-tea-green-600: #d0f9d7;
  --color-tea-green-700: #dbfbe1;
  --color-tea-green-800: #e7fceb;
  --color-tea-green-900: #f3fef5;
  
  --color-honeydew: #f0fff1;
  --color-honeydew-100: #006307;
  --color-honeydew-200: #00c60d;
  --color-honeydew-300: #2aff38;
  --color-honeydew-400: #8dff94;
  --color-honeydew-500: #f0fff1;
  --color-honeydew-600: #f3fff4;
  --color-honeydew-700: #f6fff6;
  --color-honeydew-800: #f9fff9;
  --color-honeydew-900: #fcfffc;

}


@layer components {
  .font-balthazar {
    font-family: var(--font-balthazar);
  }
  
  .font-montserrat {
    font-family: var(--font-montserrat);
  }

  .text-sm-montserrat {
    @apply text-sm font-montserrat;
  }
  
  .text-md-montserrat {
    @apply text-base font-montserrat;
  }
  
  .text-lg-montserrat {
    @apply text-lg font-montserrat;
  }
  
  .text-sm-balthazar {
    @apply text-sm font-balthazar;
  }
  
  .text-md-balthazar {
    @apply text-base font-balthazar;
  }
  
  .text-lg-balthazar {
    @apply text-lg font-balthazar;
  }
}
